h1 Address Book

/ div class="form-group"
/   = f.label :first_name
/   br
/   = f.text_field :first_name, placeholder: "Enter your first name", autofocus: true, class: "form-control"
/
/ div class="form-group"
/   = f.label :last_name
/   br
/   = f.text_area :last_name, placeholder: "Enter your last name", class: "form-control"
/
/ div class="form-group"
/   = f.label :zip
/   br
/   = f.text_area :zip, placeholder: "zip code", class: "form-control"
/
/ div class="form-group"
/   = f.label :street_1
/   br
/   = f.text_field :street_1, placeholder: 'street address 1', class: "form-control"
/
/     div class="form-group"
/   = f.label :street_2
/   br
/   = f.text_field :street_2, placeholder: 'street address 2', class: "form-control"
/
/ div class="form-group"
/   =f.label :city
/   br
/   =f.text_field :city, placeholder: 'City', class: "form-control"
/
/ div class="form-group"
/   =f.label :state
/   br
/   =f.text_field :state, placeholder: 'State', class: "form-control"
